<!DOCTYPE html>
<html>
<head>
  <title>ArchitectApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="nf_3yVcE2CmanXyb145MlD-ROT2E4cnjMKp2y495Upc" />
</head>
<body>

<%= yield %>

</body>
</html>
